@import url('https://fonts.googleapis.com/css?family=Glegoo');

html{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
	padding-top: 57px;
	background: url('images/ricepaper2.png');
}

*, *::before, *::after {
	box-sizing: inherit;
	font-family: 'Glegoo', serif;
}

.clearfix {
	overflow: auto;
	zoom: 1;
}

.container{
	margin: 0 auto;
	max-width: 960px;
}

.panel{
	margin: 1rem 0;
	padding: 1rem;
	background: white;
}

.panel h1{
	font-size: 1.4rem;
}

.panel h2{
	font-size: 1.2rem;
	color: #333333;
}

.panel{
	font-size: 0.8rem;
}

.panel-rice{
	padding: 0;
	background: none;
}

.nav-wrapper{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	border-bottom: 1px solid #BDBDBD;
	background: rgba(255, 255, 255, 0.9);
	z-index: 100;
}

.nav-wrapper img{
	padding: 0.5rem;
	width: 54px;
	float: left;
}

.title{
	margin: 0 0 0 1rem;
	padding: 0.5rem 0;
	float: left;
	line-height: 40px;
	font-size: 1.5rem;
}

.page-links{
	float: right;
	height: calc(40px + 1rem);
}

.nav-wrapper .about-link{
	float: left;
	padding: 0.5rem 1.5rem;
	line-height: 40px;
	border-left: 1px solid #BDBDBD;
	cursor: pointer;
	color: #6D6D6D;
	font-size: 0.8rem;
}

.nav-wrapper .about-link:hover, .nav-wrapper .about-link:focus{
	color: #212121;
}

.nav-wrapper .about-link:last-of-type{
	border-right: 1px solid #BDBDBD;
}

.nav-wrapper .about-link.is-active{
	color: white;
	background: #BDBDBD;
}

.cover-image-container{
	position: relative;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.cover-image{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

.material-section{
	position: relative;
	margin: -5rem auto 0 auto;
	padding: 1rem;
	width: 90%;
	z-index: 25;
	background-color: white;
}

.panel{
	margin: 2rem 0;
}

.hero{
	position: relative;
	width: 100%;
	height: 300px;
	background-color: lemonchiffon;
}

.hero-container{
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	width: 960px;
}

.hero-text{
	margin-left: 2rem;
}

.hero-text p{
	margin: 0;
}

.hero-quote-last{
	text-align: right;
}

.hero-author{
	text-align: right;
	font-size: 1rem;
}

.rice-source{
	text-align: right;
}

footer{
	padding: 2rem;
	text-align: center;
}

@media all and (max-width: 1024px){

	.hero-container{
		width: 70%;
		font-size: 1.5rem;
	}
}


@media all and (max-width: 768px){
	.page-links{
		width: 100%;
		text-align: center;
		border-top: 1px solid #BDBDBD;
	}

	.nav-wrapper .about-link{
		width: 25%;
		line-height: 39px;
	}

	.hero-container{
		width: 90%;
		font-size: 1rem;
	}

	body{
		padding-top: 113px;
	}
}


