name: deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  deploy-to-server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: SCP Upload
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: .
          target: /home/jj125967/domains/riceofcapitalism.com/public_html/
          rm: true
