name: deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  deploy-to-server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'dummy string'
      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
      - name: Deploy with rsync
        run: rsync --archive --verbose --compress --human-readable --progress --delete --delete-excluded -e 'ssh -p 26 -oHostKeyAlgorithms=+ssh-rsa -oPubkeyAcceptedAlgorithms=+ssh-rsa' . ${{secrets.SSH_USER}}@${{secrets.SSH_HOST}}:/home/domains/riceofcapitalism.com/public_html/
